@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna - Eye Catch Long Module";
 :created "2007-07-26";
 :release [:revision "1.1"; :created "2008-01-05"];
 :author [:name "wu"; :homepage <http://vicuna.jp/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/by/3.0/>;
 :description "ページのコンテンツ上部に任意の画像を読み込むモジュール";
 :note "
	読み込まれる画像は style-xxx/images/eyeCatch/long.png です。
 	このモジュールが有効の時、ページの表示幅は800pxの固定幅になります。
	" .
*/

/*======================================

	Eye Catch [Long] image Module
	
=======================================*/

/*--------------------------------------
	1-1.全てのページへ影響
---------------------------------------*/

body {
	margin: 0 10px;
}

div#header,
div#content,
div#footer {
	width: 800px;
}

/*--------------------------------------
	1-2.body.singleへの処理
---------------------------------------*/

body.single ul#flip1 {
	position: static;
}

body.single div#main p.topicPath {
	margin-right: 0;
}

/*--------------------------------------
	1-3.body.doubleへの処理
---------------------------------------*/

body.double div#content {
	padding-top: 228px;
	background-image: url(../images/eyeCatch/long.gif);
	background-repeat: no-repeat;
}

body.double div#main {
	position: relative;
	background-image: url(../images/interface/bg_div-main_e-l.gif);
}

body.double div#utilities {
	margin-top: 245px;
}
