@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna - Eye Catch Header Module";
 :created "2007-07-26";
 :release [:revision "1.1"; :created "2008-01-05"];
 :author [:name "wu"; :homepage <http://vicuna.jp/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/by/3.0/>;
 :description "ページの上部に任意の画像を読み込むモジュール";
 :note "
	読み込まれる画像は style-xxx/images/eyeCatch/header.png です。
 	このモジュールが有効の時、ページの表示幅は800pxの固定幅になります。
	" .
*/

/*======================================

	Eye Catch [Header] image Module
	
=======================================*/

/*--------------------------------------
	1-1.全てのページへ影響
---------------------------------------*/

body {
	margin: 0 10px;
}

div#header,
div#content,
div#footer {
	width: 800px;
}

div#header {
	padding-top: 115px; /*  挿入画像の高さ */
	_height: 115px;  /* for IE 挿入画像の高さ */
	position: relative;
	background-image: url(../images/eyeCatch/header.gif);
	background-repeat: no-repeat;
}

body.double div#main {
	position: relative;
	background-image: url(../images/interface/bg_div-main_e-l.gif);
}

/* タイトル */

div#header p.siteName {
	/*位置変更*/
	position: absolute;
	top: 15px;
	left: 30px;
}

div#header p.siteName a {
	color: #333;
}

div#header p.siteName a:hover {
	color: #999;
}


/* 概要の位置 */

div#header p.description {
	position: absolute;
	top: 55px;
	left: 30px;
	color: #999;
}

/*--------------------------------------
	2-1.グローバルナビへの処理
---------------------------------------*/

div#header ul#globalNavi {
	margin-top: 10px;
}
