@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna - Global Navigation Style Module";
 :created "2007-07-26";
 :release [:revision "1.1"; :created "2008-01-05"];
 :author [:name "wu"; :homepage <http://vicuna.jp/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/by/3.0/>;
 :description "グローバルメニューHTML用のスタイル定義";
 :note "このモジュールを有効にする前に、グローバルメニュー用のHTMLが追加されている必要があります。" .
*/

/*======================================

	Global Navigation Module
	
=======================================*/

/*--------------------------------------
	1.Structure
---------------------------------------*/

ul#globalNavi {
	margin: 0.1em 5px -2px; /* 出現時にheaderの下の余白を詰める */
	padding: 0.2em 0 0 0;
	background-image: url(../../images/interface/bg_break01.gif);
	background-position: left center;
	background-repeat: no-repeat;
}

ul#globalNavi li {
	margin: 0;
	padding: 0;
	float: left;
	width: 9em;
	background-image: url(../../images/interface/bg_break01.gif);
	background-position: right center;
	background-repeat: no-repeat;
	list-style-type: none;
}

/*--------------------------------------
	2.ボタン通常時
---------------------------------------*/

ul#globalNavi li a {
	margin: 0 1px;
	padding: 0.3em 0.5em; /* ボタンの厚みはここで調整 */
	border: none;
	display: block;
	position: relative; /* IE6でマウス反応領域がおかしいのをFix */
	line-height: 1;
	font-size: 92%;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

/*--------------------------------------
	3.ボタン反応時
---------------------------------------*/

ul#globalNavi li a:hover {
	color: #000;
}
