@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna Smart Canvas - Town";
 :license <http://www.opensource.org/licenses/mit-license.php>;
 :description "レイアウト簡易設定情報と色彩情報定義ファイル";
 :note "
 	16進数の編集だけでも、スキンイメージを大きく変更できます。
 	このファイルで変更できない箇所は、コアCSS、
	または、有効化されたモジュールCSSを直接編集するか、
	ここに新たにセレクタを追加して上書きして下さい。
 ".
*/

/*
	<body class="single"> のページでは、
	以下のCSSファイルがdiv#utilities に適用されます。
	カスタマイズする場合はあわせて編集してください。
*/

@import url(2-singleUtilities.css);

/*=========================================================

	Layout
	
=========================================================*/

body {
	margin: 0 0; /* margin */
}

div#header,
div#content,
div#footer {
	width: 90%; /* (example: 50%~100%, 400px~1000px, 60em, etc. )*/
	min-width: 35em; /* 最小幅 */
	max-width: 70em; /* 最大幅 */
}

/*--------------------------------
	Side Border
--------------------------------*/

div#header,
div#content {
	border-color: #56859f; /* 両サイドボーダーの色 */
}

div#content {
	border-bottom: 6px solid #56859f;
}

/*=========================================================

	General
	
=========================================================*/

body {
	color: #555;
	background-color: #e5e5e5;
	font-family: Arial, Helvetica, sans-serif;
}

div#header {
	background-color: #729cb3;
}

div#content {
	background-color: #f5f5f5;
}

div#content div#main {
	background-color: #fff;
	border-color: #ddd; /* 本文カラム境界線 */
}

/*---------------
 Font Size Setting
 本文文字サイズ
-----------------*/

div.textBody {
	font-size: 100%; /* ( small: 92% | medium: 100% | large: 107% ) */
}

/* individual font size (個別記事のみ文字サイズを変える) */

body.individual div.textBody {
	font-size: 100%; /* ( small: 92% | medium: 100% | large: 107% ) */
}

/*---------------
 Link Color
-----------------*/

a:link {
	color: #81aa25;
}

a:visited {
	color: #809b55;
	text-decoration: none;
}

a:hover {
	color: #a76600;
}

/*---------------
 Website Title
-----------------*/

div#header p.siteName {
	font-weight: bold;
	font-size: 167%;
}

div#header p.siteName a {
	color: #fff;
}

div#header p.siteName a:hover {
	color: #eee;
}

/*---------------
 Description
-----------------*/

div#header p.description {
	color: #d3eeff;
}

/*---------------
 Topic Path
-----------------*/

/* 現在位置 */
p.topicPath span.current {
	padding: 0.1em 10px;
	border: 1px solid #ddd;
	background-color: #fff;
}

/*---------------
 Heading
-----------------*/

h1 {
	margin: 0.5em 0 0;
	padding: 0.5em 30px;
	color: #6fa613;
	background-color: #f5f5f5;
	_height: 1px; /* for IE */
}

h2 {
	border-bottom: 1px solid #eee;
	color: #000;
}

h3 {
	border-left: 3px solid #ccc;
	color: #666;
	background-color: #f5f5f5;
}

/*=========================================================

	div#utilities (Sidebar)
	
=========================================================*/

div#utilities dl.navi,
div#utilities dl.others {
	background-color: #f6f6f6;
}

div#utilities dl.navi dt,
div#utilities dl.others dt {
	color: #fff;
	background-color: #bbba9c;
	border-right: 1px solid #aaa98b;
	border-bottom: 1px solid #aaa98b;
}

div#utilities dl.navi dd,
div#utilities dl.others dd {
	margin-bottom: 0.5em;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

div#utilities dl.navi dd ul,
div#utilities dl.others dd ul{
	margin: 0 5px;
}

/*---------------
 Utilities Link Color
-----------------*/

div#utilities ul li {
	list-style-type: none;
	list-style-position: outside;
}

div#utilities li a {
	padding-left: 17px;
	background-repeat: no-repeat;
	background-position: 0 0.1em;
	text-decoration: none;
}

div#utilities li a:link {
	background-image: url(images/arrow/arrow0101.gif)
}

div#utilities li a:visited {
	background-image: url(images/arrow/arrow0102.gif);
}

div#utilities li a:hover {
	background-position: 2px 0.1em;
}


/*---------------
 dl.navi
-----------------*/

dl.navi {

}

dl.navi dt {
	font-weight: bold;
}

/*---------------
 dl.others
-----------------*/

dl.others {

}

dl.others dt {

}

/*---------------
 .freeSpace [?]
-----------------*/

div#utilities .freeSpace {
	margin: 1px;
	background-color: #fff;
}

div#utilities .freeSpace p,
div#utilities .freeSpace dl,
div#utilities .freeSpace ul,
div#utilities .freeSpace ol,
div#utilities .freeSpace li {
	margin: 0.1em 5px;
}

/*---------------
 nest
-----------------*/

div#utilities dl.navi dd dl dt,
div#utilities dl.others dd dl dt {
	background-color: #fff;
}

/*---------------
 Sidebar Link Color
-----------------*/

dl.navi li a,
dl.others li a {

}

/*

body class="single"
div#utilities style

2-singleUtilities.css

*/

/*=========================================================

	Entry
	
=========================================================*/

div.entry {
	margin: 1em 10px 1.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #eee #ddd #ddd #eee;
	background-color: #fff;
}

/*---------------
 Title
-----------------*/

div.entry h2 {
	margin: 1px 2px 2px 2px;
	padding: 0.2em 5px;
	border-left: 6px solid #ddd;
	background-color: #f6f6f6;
}

body.individual div.entry h2 {
	padding-left: 20px;
}

div.entry h2 a {
	padding-left: 20px;
	text-decoration: none;
	color: #009ad5;
	background-image: url(images/mark/mark_ast.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

div.entry h2 a:visited {
	color: #000;
	background-image: url(images/mark/mark_ast02.gif);
}

div.entry h2 a:hover {
	color: #009ad5;
}

/*---------------
 Text Body
-----------------*/

div.entry div.textBody dl {
	border-left: 6px solid #eee;
	border-bottom: 1px solid #fff;
}

/*---------------
 Link img
-----------------*/

div.textBody a img {
	border: 3px solid #ccc;
}

div.textBody a:hover img {
	border: 3px solid #000;
}

/*---------------
 Continue reading
-----------------*/

p.continue {

}

p.continue a:link,
p.continue a:visited {
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(images/arrow/arrow0101.gif);
}

p.continue a:visited {
	background-image: url(images/arrow/arrow0102.gif);
}

p.continue a:hover {

}

/*---------------
 Reaction
-----------------*/

div.entry ul.reaction {
	border-top: 1px solid #eee;
}

div.entry ul.reaction li {
	border-right: 2px solid #eee;
}

div.entry ul.reaction li a {
	padding-left: 18px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
}

div.entry ul.reaction li.comment a {
	padding-left: 24px;
	background-image: url(images/mark/v_icon010101.gif)
}

div.entry ul.reaction li.trackback a {
	background-image: url(images/mark/v_icon080101.gif);
}


/*---------------
 Reaction Log (individual)
 -Comments
 -Trackbacks
-----------------*/

div#comments dl.log dt span.name,
div#trackback dl.log dt span.name {
	color: #5c8500;
}

div#comments dl.log dt span.date,
div#trackback dl.log dt span.date {
	color: #999;
}


div#comments dl.log dd,
div#trackback dl.log dd {
	border-bottom: 1px solid #eee;
}

div#trackback dl.log {
	border-left: 5px solid #aaa;
}

/* Trackback Info */

div#trackback dl.info {
	border-left: 5px solid #aaa;
	border-bottom: 1px solid #eee;
	background-color: #f5f5f5;
}

div#trackback dl.info .URL {
	color: #000;
	background-color: #fff;
}

/*---------------
 Flip Pager (Newer - Older)
-----------------*/

ul#flip1 li a {
	padding: 0 0.5em;
	color: #666;
	background-repeat: no-repeat;
}

/* Newer Article */

ul#flip1 li.newer a {
	padding-left: 18px;
	background-image: url(images/arrow/v_arrow070101.gif);
	background-position: left center;
}

/* Older Article */

ul#flip1 li.older a {
	padding-right: 18px;
	border-left: 1px solid #ccc;
	background-image: url(images/arrow/v_arrow070102.gif);
	background-position: right center;
}

/* On Mouse */

ul#flip1 li a:hover {
	color: #000;
}
 
ul#flip1 li.newer a:hover {
	background-image: url(images/arrow/v_arrow070201.gif);
}

/* Older Article */

ul#flip1 li.older a:hover {
	background-image: url(images/arrow/v_arrow070202.gif);
}

/*---------------
 Flip Pager2 (Newer - Older)
-----------------*/

#flip2 {
	border: 1px solid #eee;
}

#flip2 li {
	color: #000;
}

#flip2 li a {

}

/*---------------
 Retun to page top
-----------------*/

p.return a {

}

/*---------------
 Archive Index
-----------------*/

p.archives a {

}

/*=========================================================

	Footer
	
=========================================================*/

div#footer ul.support li {
	color: #d7e3e8;
}

div#footer ul.support li a {
	color: #bbb;
	text-decoration: none;
}

div#footer ul.support li a:hover {
	color: #999;
	text-decoration: none;
}

div#footer li.template a {

}

div#footer address {
	color: #56859f;
}

/*=========================================================

	Elements
	
=========================================================*/

em {
	font-weight: bold;
}

strong {
	color: #CC0066;
}

/*---------------
 Form
-----------------*/

fieldset {
	border: 1px solid #eee;
	background-color: #f5f5f5;
}

legend {
	color: #000;
	background-color: #fff;
}

input,
textarea {
	border-color: #d4d4d4 #eee #eee #d4d4d4;
	background-color: #fff;
}

input:hover,textarea:hover {
	border-color: #00a0dd;
}

input:focus,textarea:focus {
	border-color: #aaa;
	background-color: #fff;
}

input.submit {
	color: #fff;
	background-color: #666;
}

input.submit:hover {
	background-color: #000;
}

/*---------------
 Table
-----------------*/

table {
	border: 1px solid #cfd3d6;
	background-color: #fff;
}

th,
td {
	border: 1px solid #efefef;
	border-color: #efefef #dce0e3 #dce0e3 #efefef;
}

th {
	color: #000;
	background-color: #efefef;
}

td {
	border: 1px solid #ddd;
	background-color: #fff;
}

/*---------------
 Pre
-----------------*/

pre {
	color: #666;
	background-color: #f5f5f5;
}

pre * {
	color: #444;
}

pre[title]:before {
	color: #fff;
	background-color:  #bbb;
}

/*---------------
 Blockquote (引用)
-----------------*/

blockquote {
	color: #666;
	background-color: #f5f5f5;
}

blockquote * {
	color: #666;
}

blockquote[title]:before {
	color: #000;
}

blockquote[cite]:after {
	color: #333;
}

cite {
	color: #333;
}

/*=========================================================

	Others
	
=========================================================*/

/*--------------------------------------
	Tag Cloud
---------------------------------------*/

div#utilities dd ul.tagCloud {
	padding: 0.5em 0!important;
}

ul.tagCloud {
	margin: 0.7em 30px;
	padding: 0.5em 10px;
	line-height: 1;
	font-size: 13px;
}

ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%;
}

ul.tagCloud li a {
	text-decoration: none;
}

/* Tag level 1>6 */

ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #2863df;
}

ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #7987eb;
}

ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #7f9cc2;
}

ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #7f8fa7;
}

ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #7f9f97;
}

ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #5f9f50;
}

/* On Mouse */
ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------
コメント・トラックバック数など、
数を表す部分で使われます
--------------------------------*/

.count {
	color: #486f00;
}

/*============================
  Module に対して
=============================*/

div#header ul#globalNavi {
	background-color: #56859f;
}

div#header ul#globalNavi li a {
	border-color: #729cb3;
	border-bottom: 2px solid #396882;
	background-color: #56859f;
}

div#header ul#globalNavi li a:hover {
	background-color: #42718b;
}

div#header ul#globalNavi li.current a {
	border-color: #fff;
	color: #81aa25;
	background-color: #fff;
}